# PYTHON DATA STRUCTURES

We'll discuss the object-oriented features of  data structures, when they should be used instead of a regular class, and when they should not be used. 

In particular, we'll be covering the following topics:

Tuples and named tuples
Dataclasses
Dictionaries
Lists and sets
Three types of queues

# EMPTY OBJECTS

Let's start with the most basic Python built-in, one that we've used implicitly many times already, the one (it turns out) we've extended in every class we have created: the object.

Technically, we can instantiate an object without writing a subclass, as follows:

In [63]:
o = object()

In [64]:
o.x = 100

AttributeError: 'object' object has no attribute 'x'

Unfortunately, as you can see, it's not possible to set any attributes on an object that was instantiated directly. 

This isn't because the Python developers wanted to force us to write our own classes, or anything so sinister. 

They did this to save memory – a lot of memory.

When Python allows an object to have arbitrary attributes, it takes a certain amount of system memory to keep track of what attributes each object has, for storing both the attribute name and its value.

Even if no attributes are stored, memory is allocated to make it possible to add attributes.

Given the dozens, hundreds or thousands of objects( every class extends the object class) in a typical Python program, this small amount of memory would quickly become a large amount of memory.

So, Python disables arbitrary properties on `object` and several other built-ins, by default.

It is possible to restrict arbitrary properties on our own classes using __slots__. 

Slots are part of Chapter 12, Advanced Design Patterns. We'll look at them as a way to save memory for objects that occur many, many times.

It is, however, trivial to create an empty object class of our own; we saw it in our earliest example:

In [94]:
class MyObject:
    pass

In effect, `class MyObject` is equivalent to `class MyObject(object)`.

As seen earlier, it is possible to set attributes on such classes.

In [95]:
m = MyObject()

In [96]:
m.x = "hihihi"

In [97]:
m.x

'hihihi'

If we wanted to group an unknown number of attribute values together, we could store them in an empty object like this.

The problem with this approach is the lack of an obvious schema that we can use to understand what attributes should be present and what types of values they will have.

  Focus of this book is the way classes and objects should only be used when you want to specify both data and behaviors. 
  
Therefore, it is important to decide from the outset whether the data is purely data, or whether it is an object in disguise. 

Once that design decision is made, the rest of the design can grow from the seed concept.

# TUPLES AND NAMED TUPLES

Tuples are objects that can store a specific number of other objects in sequence.

They are immutable, meaning we cannot add, remove or replace objects on the fly.

The primary benefit of tuples' immutability is a tuple of immutable objects (like strings and numbers and other tuples) has a hash value, allowing us to use them as keys in dictionaries and members of sets.

Instances of tuple class are used to store data; behaviour cannot be associated with built-in tuple class.

If we require behaviour to manipulate a tuple, we have to pass the tuple into a function(or method on an another object) that performs the required behaviour.

Tuples overlap with the idea of coordinates or dimensions. 

A mathematical (x, y) pair or (r, g,b) color are examples of tuples.

The order matters, a lot: the color (255, 0, 0) looks nothing like (0, 255, 0).

The primary purpose of a tuple is to aggregate different pieces of data together into one container.

We create a tuple by separating values with commas, and optionally surrounding them with parentheses.

The following two assignments are identical (they record a stock, the current price, the 52-week high, and the 52-week low, for a rather profitable company):

In [98]:
stock1 = "AAPL", 123.52, 53.15, 137.98
stock2 = ("AAPL", 123.52, 53.15, 137.98)

If we are grouping a tuple inside of some other object, such as function call, list comprehension, or generator, the parentheses are required.

Otherwise, it would be impossible for the interpreter to know whether it is a tuple or the next function parameter:

In [99]:
import datetime

def middle(stock, date):
    symbol, current, high, low = stock
    return (((high + low) / 2), date)

middle(("MSFT", 75.00, 75.03, 74.90), datetime.date(2018, 2, 1))

(74.965, datetime.date(2018, 2, 1))

When Python displays a tuple, it uses what is called the **canonical** representation; this will always include `()`'s, making the `()`'s a common practice even when they are not strictly required.

The return statement, specifically has redundant `()`'s around the tuple it creates.

The degenerate cases include a tuple with only one item, written like thin `(2.718,)`. 

The extra comma is required here. An empty tuple is `()`.

In [100]:
a = (42,)

In [101]:
a

(42,)

It is sometimes surprising that the varaible `a` will be a one-tuple.

**The trailing comma is what creates an expression list with a single item; this is the value of the tuple**

The parentheses are required for two tings:

1-) to create an empty tuple
2-) to separate a tuple from other expressions.

For example, the following code will create nested tupple:

In [102]:
b = (42, 3.14), (2.718, 2.618),

In [103]:
b

((42, 3.14), (2.718, 2.618))

The trailing commas in Python are politely ignored.

The `middle()` function also illustrates **tuple unpacking**.

The first line inside the function unpacks the `stock` parameter into four different variables.

*The tuple has to be exactly the same length as the number of variables, or it will raise an exception.*

Unpacking is a very useful feature in Python.

A tuple groups related values together to make storing and passing them around simpler.

The moment we need to access the pieces, we can unpack them into separate variables.

Of course, sometimes we only need access to one of the variables in the tuple.

We can use the same syntax that we use for other sequence types(list and strings) to access an individual value.

In [104]:
s = ("AKBNK", 36.24, 48.56, 25.65)

In [105]:
high = s[2]

In [106]:
high

48.56

We can use slice notation to extract larger pieces of tuples.

In [107]:
s[1:3]

(36.24, 48.56)

These examples, while illustrating how flexible tuples can be, also demonstrate one of their major disadvantages: **readability**.

How does someone reading this code know what is in position 2 of a specific tuple?

They would have to paw through the code to find where the tuple was packed or unpacked before they could discover what it does.

Accessing tuple members directly is fine in some circumstances, but don't make a habit of it. 

The index values become what we might call magic numbers: numbers that seem to come out of thin air with no apparent meaning within the code. 

This opacity is the source of many coding errors and leads to hours of frustrated debugging. 

**Try to use tuples only when you know that all the values are going to be useful at once and it's normally going to be unpacked when it is accessed.**
 
Think of (x, y) coordinate pairs and (r, g, b) colors, where the number of items is fixed, the order matters, and the meaning is clear.

One way to provide some useful documentation is to define numerous little helper functions. This can help to clarify the way a tuple is used. Here's an example.

In [108]:
def high(stock):
    symbol, current, high, low = stock
    return high

In [109]:
high(s)

48.56

We need to keep these helper functions collected together into a single namespace. 

Doing this causes us to suspect that a class is better than a tuple with a lot of helper functions. 

There are other alternatives to clarifying the contents of tuples, the most important of which is the typing.NamedTuple class.

# NAMED TUPLES VIA typing.NamedTuple

What do we do when we want to group values together but know we're frequently going to need to access them individually? 

1-) We could use an empty object instance, as discussed previously. We can assign arbitrary attributes to this object. 

But without a good definition of what's allowed and what types are expected, we'll have trouble understanding this.

2-) We could use a dictionary. This can work out nicely, and we can formalize the acceptable list of keys for the dictionary with the typing.TypedDict hint.

3-) We can use a @dataclass, the subject of the next section in this chapter.

4-) We can also provide names to the positions of a tuple. While we're at it, we can also define methods for these named tuples, making them super helpful.

Named tuples are tuples with attitude. They are a great way to create an immutable grouping of data values.

When we define a named tuple, we are creating a subclass of `typing.NamedTuple`, based on a list of names and data types.

We do not need to write an `__init__()` method, it is created for us.

In [110]:
from typing import NamedTuple

class Stock(NamedTuple):
    name: str
    current: float
    high: float
    low: float

This class will have a number of methods, including `__init__()`, `__hash__()` `__repr__()`and `__eq__`.

These will be based on the generic `tupple` processing with the added benefit of names for the various items.

There are more methods, including comparison operations.

Here's how we can create a tuple of this class. It looks almost like creating a generic tuple:

In [111]:
hisse = Stock(name="GARAN", current=36.24, high=48.56, low=25.65)

In [112]:
hisse.name

'GARAN'

In [113]:
hisse.current

36.24

In [114]:
hisse.average

AttributeError: 'Stock' object has no attribute 'average'

The constructor must have exactly the correct number of arguments to create the tuple.

Values can be passed in as positional or keyword arguments.

It is important to recognize that the names are provided at the class level, but are not actually creating class-level attributes.

The class-level names are used to build the `__init__()` method, each instance will have the expected names for the positions within the tuple.

There is a clever metaclass-level transformation from what we wrote into the somewhat more complex definition of the resulting class with named, positional items.

The resulting instance of our `NamedTuple` subclass, `hisse`, can be packed, unpacked, indexed, sliced and otherwise treated like a normal tuple, but we can also access individual attributes by name as if it were an object.

In [130]:
hisse.name

'GARAN'

In [131]:
hisse[2]

48.56

In [132]:
symbol, current, high, low = hisse

In [133]:
current

36.24

In [134]:
hisse.name

'GARAN'

Named tuples are perfect for many uses cases.

Like strings, tuples and named tuples are immutable, so we cannot modify an attribute once it has been set.

For example, the current value of this company's stock is 36.24, but we cannot change it to 76.25.

In [135]:
hisse.current = 76.25

AttributeError: can't set attribute

**The immutability refers only to the attributes of the tuple itself. The tuple can contain mutable elements.**

In [151]:
t = ("Relayer", ["Gates of Delirium", "Sound Chaser"])

In [152]:
t[1].append("To Be Over")

In [153]:
t

('Relayer', ['Gates of Delirium', 'Sound Chaser', 'To Be Over'])

The object `t` is a tuple, which means it is immutable.

The tuple object contains two elements. The value of `t[0]` is the string `"Relayer"`, which is immutable.

The value of `t[1]` is a list, which is mutable.

The mutability of the list is not altered by the immutability of the object `t`, with wihich its associated.

A list is mutable, irrespective of context.

The tuple, `t` is immutable, even if items withi it are mutable. 

Because the xample tuple, `t` contains a mutable list, it does not have a hash value. This should not be surprising. 

The `hash()` computation requires the hash from each item within the collection. 

Since the list value of `t[1]` cannot produce a hash, the tuple `t` as a whole connot produce a hash either.

The presence of the unhashable list object means the tuple – as a whole – is also unhashable.

In [154]:
hash(t)

TypeError: unhashable type: 'list'

We can create methods to compute derived values of the attributes of a named tuple.

We can for example, redefine our `Stock` tuple to include the middle computation as a method (or a @property):

In [173]:
from typing import NamedTuple

class Stock2(NamedTuple):
    name: str
    current: float
    high: float
    low: float

    def middle(self) -> float:
        return (self.high + self.low) / 2

We cannot change the state but we can compute values derived from the current state.

This lets us couple computations directly to the tuple holding the source data.

In [174]:
s3 = Stock2("AKBNK", 36.24, 48.56, 25.65)

In [175]:
s3.middle()

37.105000000000004

The `middle()` method is now part of the class definition.

The state of a named tuple is fixed when the tuple is created.

If we need to be able to change the stored data a `dataclass` may be what we need instead.

# DATACLASSES

Dataclasses let us define ordinary objects with a clean syntax for specifying attributes.

They superficially look very similar to named tuples.

Here is a dataclass version of our Stock example

In [176]:
from dataclasses import dataclass

@dataclass

class Stock3:
    symbol: str
    current: float
    high: float
    low: float

For this case, the definition is nearly identical to the `NamedTupple` definition.

The `dataclass` function is applied as a class decorator, using the `@` operator.

This class definition syntax is bot much less verbose than an ordinary class with `__init__()`, but it gives us access to several additional `dataclass` feautres.

It is important to recognize that the names are provided at the class level, bıt are not actually creating class-level attributes.

The class level names are used to build several methods, including `__init__()` method; each instance will have the expected attributes.

The decorator transforms what we wrote into the more complex definition of a class with the expected attributes and parameters to the `__init__()` method.

Because dataclass objects can be stateful, mutable objects, there are a number of extra features available.

We will start with some basics.

In [177]:
s_dataclass = Stock3("YKBNK", 3.24, 4.56, 2.65)

Once instantiated, the stock object can be used like any ordinary class.

You can access and update attributes as follows:

In [178]:
s_dataclass

Stock3(symbol='YKBNK', current=3.24, high=4.56, low=2.65)

In [179]:
s_dataclass.current

3.24

In [180]:
s_dataclass.current = 99.99

In [181]:
s_dataclass

Stock3(symbol='YKBNK', current=99.99, high=4.56, low=2.65)

As with other objects, we can add attributes beyond those formally declared as a part of the dataclass.

This is not always the best idea, but its is supported because this is an ordinary mutable object.

In [182]:
s_dataclass.new_attribute = "OMG"

In [183]:
s_dataclass.new_attribute

'OMG'

Adding attributes is not available for frozen dataclasses, which we will talk about later.

At first glance, it seems like dataclasses do not give many benefits over an ordinary class definition with an appropriate `__init__()` method.

Here is an ordinary class that is similar to dataclass:

In [184]:
class Stock4:
    def __init__(self, name:str, current:float, high:float, low:float) -> None:
        self.name = name
        self.current = current
        self.high = high
        self.low = low

In [185]:
s_ordinary = Stock4("KCHOL", 25.96, 36.56, 15.65)

One obvious benefit to a dataclass is we only need to state attribute names once, saving the repetition in the `__init__()` parameters and body.

The dataclass also provides a much more useful string representation than we get from the implicit superclass `object`.

By default, dataclasses include an equality comparison.

This can be turned off in the cases where it does not make sense.

The following example compares the manually built class to these dataclass features:

In [186]:
s_ordinary

In [187]:
s_ordinary_2 = Stock4("KCHOL", 25.96, 36.56, 15.65)

In [188]:
s_ordinary == s_ordinary_2

False

The class built manually has an awful default representation, and the lac of an equality test can make life difficult.

We would prefer the behaviour of the `Stock` class defined with `dataclass`.

In [191]:
stock_dataclass_2 = Stock3("YKBNK", 99.99, 4.56, 2.65)

In [192]:
stock_dataclass_2 == s_dataclass

True

Class definitions decorated with `@dataclass` also have many other useful features. 

For example, you can specify a default value for the attributes of a dataclass. 

Perhaps the market is currently closed and you don't know what the values for the day are:

In [193]:
from dataclasses import dataclass

@dataclass

class StockDefaults:
    name: str 
    current: float = 0.00
    high: float = 0.00
    low: float = 0.00

You can construct this class with just the stock name; the rest of the values will take on the defaults. 

But you can still specify values if you prefer, as follows:

In [194]:
s_defaults = StockDefaults("GOOGLE")

In [195]:
s_defaults

StockDefaults(name='GOOGLE', current=0.0, high=0.0, low=0.0)

In [196]:
s_defaults = StockDefaults("GOOGLE", 100.00, 200.00, 50.00)

In [197]:
s_defaults

StockDefaults(name='GOOGLE', current=100.0, high=200.0, low=50.0)

If have seen that dataclasses support